* {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

html, 
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
}

header {
    width: 100%;
    padding: 1rem 0;
    background-color: black;
}

header img {
    width: 21rem;
}

/* Panels */

.action-panel,
.output-panel {
    max-width: 28rem;
    margin: 1.5rem;
    line-height: 1.4rem;
}

.action-panel {
    justify-content: space-around;
    width: 100%;
    height: 25rem;
}

.output-panel {
    display: none;
    justify-content: flex-start;
    max-height: 28rem;
    max-width: 25rem;
    border: 0.125rem solid;
    padding: 1rem 2rem;
}

.loading-panel {
    display: none;
    justify-content: space-around;
    height: 25rem;
    text-align: center;
}

.output-panel p{
    overflow-y: scroll;
}

/* Text */

h2 {
    margin-top: -1.6rem;
    margin-bottom: .6rem;
    padding: 0 .6rem;
    font-size: 1.2rem;
    font-weight: 400; 
    text-align: center;
    background-color: #f6f6f6;
}

p.tag-line {
    font-family: 'Comic Neue';
    font-size: 0.875rem;
    font-weight: 700;
}

.ticker-choice-display {
    height: 3rem; 
}

.output {
    line-height: 1.5rem;
}

/* Controls */

label {
    text-align: center;
    padding: 0 1.7rem;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.form-input-control {
    flex-direction: row;
    width: 100%;

}

input[type="text"] {
    height: 1.125rem;
    padding: 1rem;
    border: 0.125rem solid black;
    border-right: none;
}

#ticker-input {
    font-size: 1rem;
}

/* Buttons */

.add-ticker-btn {
    padding: 1.125rem;
    font-size: 3rem;
    background-color: #ffffff;
    border: 2px solid;
    cursor: pointer;
}

.add-ticker-btn:hover {
    background-color: #d2d2d2;
}

.add-ticker-svg {
    width: 14px;
}

.generate-report-btn {
    width: 270px;
    padding: 1rem 1.5rem;
    font-family: 'Poppins', sans;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .09rem;
    border: 0.125rem solid #000000;
    background-color: #46ff90;
    cursor: pointer;
    text-transform: uppercase;
}

/* Ticker display (ensure comma separated) */

.ticker {
    margin: 0 .1rem;
    content: '';
}

.ticker:after {
    content: ',';
}

.ticker:last-child::after {
    content: '';
}

/* Footer */

footer {
    max-width: 25rem; 
    text-align: center;
    font-size: .875rem;
}

/* Stop ugly scroll bar on some browsers */
.output-panel p::-webkit-scrollbar {
    display: none;
}

.output-panel p::-moz-scrollbar {
    display: none;
}